extends ../layouts/default

block content
	.container: .jumbotron
		img(src='/images/logo.png', width='160')
		h1 Welcome
		p This is a notebook in website form.
		
		hr
		
		p <a href='https://github.com/ganboonhong/blog' target='_blank'>GitHub</a>
